:root{
    --btn-text : white;
    --btn-color:rgb(219, 39, 126);
    --btn-height:40px;
    --btn-width:120px;
    --btn-margin:40px;
    --border-size:2px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.btn{
    height: var(--btn-height);
    width: var(--btn-width);
    margin: var(--btn-margin);
    background-color: var(--btn-color);
    color: var(--btn-text);
    position: relative;
    border: none;
}



#bt1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-size) solid var(--btn-color);
    z-index: -1;
    transition: top, left, right, bottom, 0.4s ease-in;
}

#bt1:hover::before, #bt1:focus::before{
    top: calc(var(--border-size)*-2);
    bottom: calc(var(--border-size)*-2);
    left: calc(var(--border-size)*-2);
    right: calc(var(--border-size)*-2);
}

#bt2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: -1;
    border-radius: 10rem;
    transform: scaleX(0);
    transition: transform 0.6s ease-out;
    transform-origin: left 50px;
}

#bt2{
    z-index: 1;
    border-radius: 10rem;
    overflow: hidden;
}


#bt2:hover::before, #bt2:focus::before{
    
    transform: scaleX(1);
}