.container{
    height: 400px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

.box{
    width: 100px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1{
    align-self: stretch;
    align-self: baseline;
    align-self: center;
    align-self: flex-end;
    align-self: flex-start;
}