*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: red;
    height: 100vh;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 1fr 1fr 40px;
}

.box{
    background-color: aqua;
    border: 3px solid black;
}
#box1{
    grid-column: 1/5;
    
}
#box2{
    grid-area: 2/2/4/4;
}
#box3{
    grid-area: 2/1/4/2;
}

#box4{
    grid-area: 2/4/4/5;
}

#box5{
    grid-column: 1/5;
}