.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;
}

.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid orange;
    background: aqua;
    transition-property: all;
    transition: width 2s, transform 2s cubic-bezier(0,-0.37, 0, 1.43) 0s;
}

.box:hover{
    width: 500px;
    transform: rotate(360deg);
}