html{
    scroll-behavior: smooth;
}
table, tr, td, th{
    border: 10px solid black;
    border-collapse: collapse;
}
div{
    color: white;
    background-color: black;
}
.red{
    color: red;
}
.blue{
    color: blue ;
}

h1,h2,h3{
    font-size: small;
}
h4,h5,h6{
    font-size: larger;
}

#Name{
    background-color: red;
}

#submit:hover, #reset:hover{
    color: rgb(163, 6, 165);
}
input[value="Submit" ]{
    color: wheat;
    background-color: black;
}

.a,.b,.c{
    padding: 50px;
    width: 50px;
    height: 50px;
    border: 10px solid black;
    align-content: center;
    text-align: center;
    margin: 10px 300px;
}


.a{
    background-color: rgb(10, 249, 10);
    color: rgb(11, 11, 12);
}

.b{
    background-color: rgb(244, 244, 6);
    color: black;
}

.c{
    background-color: red;
    color: black;
}

.grad {
    height: 300px;
    width: 300px;
    background-image: linear-gradient(red, yellow);
    background-image: radial-gradient(circle at center, red 0,yellow 50%, green 100%);
    background-image: conic-gradient(from 45deg, blue 50%, red 60%);
    box-shadow:  0 1px 0 0 black;
}

.shadow{
    color: black;
    background-color: white;
    text-shadow:  3px 3px 3px red,3px 3px 3px blue;
}

.textbox{
    background-color: white;
    color: black;
    border: 1px solid black;
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-height: 100px;
    overflow: auto;
    padding: 2px;
}
